   /* Estilos para o modal */
.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed; /* Permite que o modal flutue sobre o conteúdo da página */
  z-index: 1; /* Define a ordem de empilhamento do modal */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Adiciona rolagem se necessário */
  background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente */
}

.modal-content {
  background-color: #fefefe; /* Cor de fundo do modal */
  margin: 10% auto; /* Centraliza o modal verticalmente e o posiciona 10% do topo */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura do modal */
}

/* Estilos para o botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para os campos do formulário */
input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Estilos para o botão "Adicionar ao Carrinho" */
#addToCartButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#addToCartButton:hover {
  opacity: 0.8;
}

 


.cart {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
}



.cart h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

#cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.cart-item:last-child {
  border-bottom: none;
}

#total {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
}

#finalizar-compra {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

#finalizar-compra:hover {
  background-color: #218838;
}
